body {
    font-family: 'Prompt', sans-serif;
    background-color: transparent;
    background-image: linear-gradient(100deg, #f26798 0%, #3023ae 100%);
    padding-top: 1%;
}

.container-top {
    margin-top: 50px;
    padding-left: 50px;
    padding-right: 50px;
}

.counter-box {
    display: block;
    background: #f6f6f6;
    padding: 40px 50px 27px;
    text-align: center;
    border-radius: 4px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.counter-box p {
    margin: 5px 0 0;
    padding: 0;
    color: #909090;
    font-size: 18px;
    font-weight: 500
}

.counter-box i {
    font-size: 60px;
    margin: 0 0 15px;
    color: #d2d2d2
}

.counter {
    display: block;
    font-size: 25px;
    font-weight: 700;
    color: #666;
    line-height: 28px
}

.counter-box.colored {
    background: #3acf87
}

.counter-box.colored p,
.counter-box.colored i,
.counter-box.colored .counter {
    color: #fff
}

.show-end-text {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
    direction: rtl;
}

.hide-end-text {
    white-space: nowrap;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis; 
}

.mb-20{
    margin-bottom: 50px;
}

.setting-btn{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-right: 30px;
    color: rgb(225, 217, 217);
    float: right;
    transition: transform .7s ease-in-out;
}

.setting-btn:hover{
    color: rgb(255, 255, 255);
    transform: rotate(360deg);
}